{% extends 'booking/base.html' %} {% load static %} {% block content %}
<section class="flex w-full px-10 h-max pt-10 justify-between">
  <div class="w-[35rem] h-[30rem]">
    <div class="bg-[#27576A] text-white flex flex-col h-max pb-4 space-y-4">
      <h2 class="text-[2.5rem] pt-8 mx-8 font-bold">{{ adv.name }}</h2>
      <p class="mx-8">
        {{ adv.description }}
      </p>
      <p class="mx-8">
        {{ adv.price }}
      </p>
      <h3 class="mx-8 text-2xl">Top Activities</h3>
      <ul class="grid mx-8 grid-cols-4 gap-2">
        {% for activity in activities %}
        <li class="bg-[#000000] px-2 mx-auto">{{ activity }}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="flex items-center bg-red-600 py-4 my-4 px-8 max-w-fit">
      <a href="#" class="pr-2 text-white">Book Now</a>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="w-5 h-5 text-white"
      >
        <path
          fill-rule="evenodd"
          d="M3 10a.75.75 0 01.75-.75h10.638L10.23 5.29a.75.75 0 111.04-1.08l5.5 5.25a.75.75 0 010 1.08l-5.5 5.25a.75.75 0 11-1.04-1.08l4.158-3.96H3.75A.75.75 0 013 10z"
          clip-rule="evenodd"
        />
      </svg>
    </div>
  </div>
  </div>
  <div class="bg-[url('/static/{{ adv.image}}')] w-[35rem] h-[30rem] bg-cover bg-center"></div>
</section>
<section class="p-10">
  <h3 class="text-center text-[2.5rem]">Itinerary</h3>
  <div class="flex">
    <div class="bg-[url('/static/images/leftpng.png')] h-80 w-80 bg-center bg-contain bg-no-repeat">
      <!-- <img src="/static/images/leftpng.png" my-auto w-20 h-20 alt="left scroll" /> -->
    </div>
    <div class="flex justify-between">
      {% for itenary in itineraries %}
      <div class="flex flex-col justify-center text-center max-w-[25%]">
        <h4 class="text-[1.8rem]">{{ itenary.day }}</h4>
        <div class="bg-[url('/static/{{itenary.image}}')] mx-auto w-56 h-56 bg-cover bg-center rounded-full"></div>
        <h5>{{ itenary.name }}</h5>
      <div class="bg-[url('/static/images/arrow.png')] mx-auto w-[3rem] h-[3rem] bg-center bg-cover"></div>
        <p class="text-justify">
         {{itenary.description}}
        </p>
      </div>
     {% endfor %}
    </div>
    <div class="bg-[url('/static/images/right.png')] h-80 w-80 bg-center bg-contain bg-no-repeat"></div>
  </div>
</section>
{% endblock%}
