{% extends 'booking/base.html' %} {% load static %} {% block content %}
<section class="md:flex text-white container mx-auto my-24">
  <div class="w-full sm:w-2/12">
    <h2 class="text-5xl mb-3 font-bold">Adventures</h2>
    <p class="text-lg whitespace-normal">
      There is a wide range of activities such as trekking, rafting, skiing,
      cycling/biking, angling, paragliding, hot-air ballooning and scuba diving,
    </p>
  </div>
  <div
    class="flex flex-wrap justify-end items-end space-x-4 space-y-4 w-full sm:w-10/12 px-auto mx-auto"
  >
    {% for adventure in adventures %}
    <div
      class="bg-[url('/static/{{ adventure.image }}')] w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/4 h-96 bg-center bg-cover text-center pt-48"
    >
      <p>{{ adventure.name}}</p>
      <p>Price: Ksh. {{ adventure.price}}</p>
      <p>{{ adventure.slots}} slots remaining</p>
      <a href="{% url 'adventure' adventure.id %}">Open</a>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock%}
