<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Safari World</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body
    class="bg-gradient-to-b from-blue-800 to-transparent bg-no-repeat bg-cover font-serif"
  >
    {%block img %} {% endblock %}
    <header
      class="md:flex items-center justify-between py-4 border border-gray-100 text-white"
    >
      <div class="flex items-center">
        <h4
          class="text-white font-weight-600 text-xl px-4 md:px-6 border-r border-gray-200"
        >
          Safari<span style="color: #00f3ff">World</span>
        </h4>
        <div class="flex items-center sm:text-red">
          <input
            type="text"
            placeholder="Search For The Trip or Destination"
            class="mx-4 p-2 focus:outline-none text-white-300 bg-transparent w-100"
          />
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="w-5 h-5"
          >
            <path
              fill-rule="evenodd"
              d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z"
              clip-rule="evenodd"
            />
          </svg>
        </div>
      </div>
      <div class="flex space-x-4">
        <div class="flex space-x-4 mx-2">
          <div class="flex item-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              class="w-5 h-5"
            >
              <path
                fill-rule="evenodd"
                d="M2 3.5A1.5 1.5 0 013.5 2h1.148a1.5 1.5 0 011.465 1.175l.716 3.223a1.5 1.5 0 01-1.052 1.767l-.933.267c-.41.117-.643.555-.48.95a11.542 11.542 0 006.254 6.254c.395.163.833-.07.95-.48l.267-.933a1.5 1.5 0 011.767-1.052l3.223.716A1.5 1.5 0 0118 15.352V16.5a1.5 1.5 0 01-1.5 1.5H15c-1.149 0-2.263-.15-3.326-.43A13.022 13.022 0 012.43 8.326 13.019 13.019 0 012 5V3.5z"
                clip-rule="evenodd"
              />
            </svg>
            <p>+254 707 033 084</p>
          </div>

          <a href="#">Login</a>
          <a href="#">Signup</a>
        </div>
      </div>
    </header>

    <nav class="flex md:justify-center my-5 text-white">
      <ul class="md:flex">
        <li class="px-8 md:px-16"><a href="">Home</a></li>
        <li class="px-8 md:px-16"><a href="">Adventures</a></li>
        <li class="px-8 md:px-16"><a href="">Private Getaway</a></li>
        <li class="px-8 md:px-16"><a href="">About Us</a></li>
      </ul>
    </nav>
    <section>
      <h1 class="text-center text-white font-bold text-5xl py-10">
        Explore The World With Ease
      </h1>
      <div
        class="flex mx-auto items-center bg-red-600 py-4 px-8 max-w-fit rounded-full"
      >
        <a href="#" class="pr-2 text-white">Discover Top Destinations </a>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="w-5 h-5 text-white"
        >
          <path
            fill-rule="evenodd"
            d="M3 10a.75.75 0 01.75-.75h10.638L10.23 5.29a.75.75 0 111.04-1.08l5.5 5.25a.75.75 0 010 1.08l-5.5 5.25a.75.75 0 11-1.04-1.08l4.158-3.96H3.75A.75.75 0 013 10z"
            clip-rule="evenodd"
          />
        </svg>
      </div>
    </section>

    {% block content%} {% endblock %}

    <footer
      class="md:flex bg-blue-500 h-full justify-around items-center px-8 md:px-1 py-4 text-white mt-20"
    >
      <div class="flex">
        <div class="w-10 h-10 p-3 rounded-full bg-red-600"></div>
        <div
          class="w-10 h-10 p-3 rounded-full bg-blue-300 -translate-x-6"
        ></div>
        <div
          class="w-10 h-10 p-3 rounded-full bg-red-600 -translate-x-12"
        ></div>
      </div>
      <div>
        <h4 class="mb-3 text-lg md:text-center font-bold">Adventures</h4>
        <ul>
          <li
            class="pl-4 before:content-['>'] before:mr-3 before:text-red-800 before:font-bold"
          >
            <a href="#">Upcoming</a>
          </li>
          <li
            class="pl-4 before:content-['>'] before:mr-3 before:text-red-800 before:font-bold"
          >
            <a href="#">Past</a>
          </li>
          <li
            class="pl-4 before:content-['>'] before:mr-3 before:text-red-800 before:font-bold"
          >
            <a href="#">Private Getaway</a>
          </li>
        </ul>
      </div>
      <div>
        <h4 class="mb-3 text-lg md:text-center font-bold">About Us</h4>
        <ul>
          <li
            class="pl-4 before:content-['>'] before:mr-3 before:text-red-800 before:font-bold"
          >
            <a href="#">Blog</a>
          </li>
          <li
            class="pl-4 before:content-['>'] before:mr-3 before:text-red-800 before:font-bold"
          >
            <a href="#">Who We Are</a>
          </li>
        </ul>
      </div>
      <div>
        <h4 class="mb-3 text-lg md:text-center font-bold">Contact Us</h4>
        <div class="flex item-center gap-x-2">
          <svg
            class="h-8 w-8 text-white-300"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path
              d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"
            />
          </svg>
          <svg
            class="h-8 w-8 text-white"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" />
            <rect x="4" y="4" width="16" height="16" rx="4" />
            <circle cx="12" cy="12" r="3" />
            <line x1="16.5" y1="7.5" x2="16.5" y2="7.501" />
          </svg>
          <svg
            class="h-8 w-8 text-white"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path
              d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"
            />
          </svg>
          <svg
            class="h-8 w-8 text-white"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" />
            <path
              d="M16.882 7.842a4.882 4.882 0 0 0 -9.764 0c0 4.273-.213 6.409-4.118 8.118 2 .882 2 .882 3 3 3 0 4 2 6 2s3-2 6-2c1-2.118 1-2.118 3-3-3.906-1.709-4.118-3.845-4.118-8.118h0zM3 15.961c4-2.118 4-4.118 1-7.118m17 7.118c-4-2.118-4-4.118-1-7.118"
            />
          </svg>
        </div>
      </div>
    </footer>
  </body>
</html>
