{% extends 'booking/base.html' %} {% load static %} {% block img %}
<div
  class="bg-[url('static/images/night.jpg')] w-full bg-cover bg-center h-full absolute -z-50"
>
  <!-- <img src="{% static 'images/night.jpg' %}" /> -->
</div>
{% endblock %} {% block content %}
<section class="text-white">
  <h3 class="text-center my-8 font-bold text-2xl">Trending Trips</h3>
  <div class="flex justify-center gap-x-4">
    {% for adventure in adventures %}
    <div
      class="bg-[url('/static/{{adventure.image}}')] w-48 h-80 bg-center bg-cover text-center pt-36 hover:scale-110"
    >
      <h4 class="font-bold text-sm">{{ adventure.name }}</h4>
      <p class="text-gray-100 text-xs">{{ adventure.place_id.name }}</p>
      <span
        class="block mx-auto my-4 rounded-full bg-blue-500 w-12 h-12 flex items-center justify-center"
        >{{ adventure.slots }}</span
      >
      <p class="text-center">slots remaining.</p>
    </div>
    {% endfor %}
  </div>
</section>
<section class="md:flex flex-column md:mx-auto pt-20 md:items-center mt-20">
  <div class="flex-1 mx-auto px-28">
    <h3 class="pt-8 text-2xl font-bold">Book A Private Getaway</h3>
    <p class="py-4">
      Safari world prides itself in offering botique travel experiences across
      Kenya and Africa. We have tasted the magic on the other side; and we want
      to bring you along..to feel and experience authentic travel accross the
      motherland. Do you have an idea of a place you want to visit but is not
      included in our adventures? Worry not! You can have a one on one
      consultation with us and provide a private getaway for you.
    </p>
    <div class="flex items-center bg-red-600 py-4 px-8 max-w-fit">
      <a href="#" class="pr-2 text-white">Consult </a>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="w-5 h-5 text-white"
      >
        <path
          fill-rule="evenodd"
          d="M3 10a.75.75 0 01.75-.75h10.638L10.23 5.29a.75.75 0 111.04-1.08l5.5 5.25a.75.75 0 010 1.08l-5.5 5.25a.75.75 0 11-1.04-1.08l4.158-3.96H3.75A.75.75 0 013 10z"
          clip-rule="evenodd"
        />
      </svg>
    </div>
  </div>
  <div
    class="bg-[url('static/images/elephant.jpg')] bg-cover bg-center flex-1 mr-10 bg-blue-500 w-1/2 h-72"
  ></div>
</section>
{% endblock %}
