<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Safari World</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body
    class="flex items-center justify-center min-h-screen font-serif bg-no-repeat bg-cover bg-gradient-to-b from-blue-800 to-transparent"
  >
    <section
      class="p-10 my-auto text-white rounded md:w-1/3"
      style="background-color: #357b95"
    >
      <h1 class="mb-4 text-4xl text-center">Log In To Book</h1>
      <form method="POST" class="flex-col items-center">
        {% csrf_token %}
        <div class="flex flex-col justify-between my-3">
          <label for="username">Username</label>
          <input type="text" id="username" name="username" class="text-black" />
        </div>
        <div class="flex flex-col justify-between my-3">
          <label for="passwd">Password</label>
          <input
            type="password"
            id="passwd"
            name="password"
            class="text-black"
          />
        </div>
        <div class="flex justify-between my-3">
          <div>
            <input type="checkbox" name="remember" id="remember" />
            <label for="remember">Remember Me</label>
          </div>

          <a href="#">Forgot password?</a>
        </div>
        <div
          class="flex items-center justify-center px-8 py-4 text-center bg-red-600 max-w-screen"
        >
          <input type="submit" class="pr-2 text-white" value="Login" />
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="w-5 h-5 text-white"
          >
            <path
              fill-rule="evenodd"
              d="M3 10a.75.75 0 01.75-.75h10.638L10.23 5.29a.75.75 0 111.04-1.08l5.5 5.25a.75.75 0 010 1.08l-5.5 5.25a.75.75 0 11-1.04-1.08l4.158-3.96H3.75A.75.75 0 013 10z"
              clip-rule="evenodd"
            />
          </svg>
        </div>
        <input type="hidden" name="next" value="{{ request.GET.next }}" />
        <div>
          <span>Don't have an account?</span>
          <a
            href="{% url 'signup' %}?next={{ request.GET.next }}"
            class="underline"
            >Signup</a
          >
        </div>
      </form>
    </section>
  </body>
</html>
