{% extends 'booking/base.html' %} {% block content %}

<section class="flex-column items-center max-w-screen-lg mx-auto">
  <h1 class="text-white text-center text-2xl md:text-4xl font-bold my-10">
    Complete Payment To Confirm Booking
  </h1>
  <h3 class="font-bold text-2xl my-6 text-white">Order Summary</h3>
  <div>
    <div class="overflow-x-auto">
      <table class="w-full text-black border-black border-t-4 border-b-4">
        <thead>
          <tr>
            <th
              class="px-10 py-2 bg-transparent text-left text-l font-medium tracking-wider"
            >
              Item
            </th>
            <th
              class="px-10 py-2 bg-transparent text-left text-l font-medium tracking-wider"
            >
              Price
            </th>
            <th
              class="px-10 py-2 bg-transparent text-left text-l font-medium tracking-wider"
            >
              Quantity
            </th>
            <th
              class="px-10 py-2 bg-transparent text-left text-l font-medium tracking-wider"
            >
              Departure Date
            </th>
            <th
              class="px-10 py-2 bg-transparent text-left text-l font-medium tracking-wider"
            >
              Total Amount
            </th>
          </tr>
        </thead>
        <tbody class="" style="background-color: #bcd3dc">
          <tr>
            <td id="adventure" class="px-10 py-4 whitespace-nowrap">{{ adventure.name }}</td>
            <td class="px-10 py-4 whitespace-nowrap">
              <span>Ksh.</span><span id="price">{{ adventure.price }}<span>/=</span>
            </td>
            <td class="px-10 py-4 whitespace-nowrap">
              <button
                type="button"
                class="bg-red-500 px-2 text-center text-white"
                id="minus"
              >
                -
              </button>
              <span id="quantity">1</span>
              <button
                type="button"
                class="bg-red-500 px-2 text-center text-white"
                id="plus"
              >
                +
              </button>
            </td>
            <td class="px-10 py-4 whitespace-nowrap"> {{ adventure.departure_date }} </td>
            <td class="px-10 py-4 whitespace-nowrap">
              <span>Ksh.</span><span id="total">{{ adventure.price }}</span><span>/=</span>
            </td>
            <td class="px-10 py-4 whitespace-nowrap"></td>
          </tr>
        </tbody>
      </table>
    </div>

    <h2 class="text-white text-2xl bg-red-600 my-3 p-4 w-fit font-bold">
      Choose Payment Method
    </h2>
    <div class="text-3xl">
      <input
        class="mx-2"
        type="radio"
        id="mpesa"
        name="payments"
        value="M-Pesa"
      />
      <label for="mpesa">M-Pesa</label>
      <input class="mx-2" type="radio" id="card" name="payments" value="Card" />
      <label for="card">Card</label>
    </div>
    <p class="text-xl font-bold my-3">Instructions:</p>
    <ol class="list-decimal list-inside">
      <li>Enter your phone number</li>
      <li>Click pay and your pin on the prompt</li>
    </ol>
    <p class="text-xl font-bold my-3">Or</p>
    <ol class="list-decimal list-inside">
      <li>Open M-Pesa app/STK</li>
      <li>Choose buy Goods and Services</li>
      <li>Enter till: <strong>5050522</strong></li>
      <li>Enter amount: <strong>{Total}</strong></li>
      <li>Enter pin and confirm payment</li>
    </ol>
    <div class="my-4 text-lg font-bold">
      <label for="tel">Enter Phone Number: </label>
      <span class="bg-blue-300 p-2 text-white">+254</span>
      <input
        class="bg-blue-300 p-1 text-white focus:outline-none"
        type="text"
        id="tel"
      />
      <a class="bg-red-600 text-white font-xl p-2" href="#">Pay</a>
    </div>
    <a id="confirm" class="bg-red-600 text-white font-xl p-2 font-bold"
      >Complete Order</a
    >
     <div id="id" hidden>
       {{ adventure.id }}
     </div>
     <dialog id="msgElement" close> </dialog>
  </div>
</section>
<script>
    document.getElementById("minus").addEventListener("click", function() {
        const peopleElement = document.getElementById("quantity");
        if (parseInt(peopleElement.textContent) > 1) {
          const currentPeople = parseInt(peopleElement.textContent);
          // Perform any desired calculations or modifications to the current amount
          const newPeople = currentPeople - 1; 
          console.log(newPeople);
          peopleElement.textContent = newPeople;
          const amountElement = document.getElementById("price");
          const totalElement = document.getElementById("total");
          const newTotal = parseInt(amountElement.textContent) * newPeople;
          totalElement.textContent = newTotal;
		}
    });

	document.getElementById("plus").addEventListener("click", function() {
        const peopleElement = document.getElementById("quantity");
        if (parseInt(peopleElement.textContent) >= 1) {
          const currentPeople = parseInt(peopleElement.textContent);
          // Perform any desired calculations or modifications to the current amount
          const newPeople = currentPeople + 1;
          peopleElement.textContent = newPeople;
          const amountElement1 = document.getElementById("price");
          const totalElement1 = document.getElementById("total"); 
          const newTotal = parseInt(amountElement1.textContent) * newPeople;
          totalElement1.textContent = newTotal;
        }
    });
    document.getElementById("confirm").addEventListener("click", function() {
       console.log("Ordering...");
       const message = `Your payment for ${document.getElementById("adventure").textContent} adventure has been received. Thank you for exploring the world with us. Check details about the booking in your email and profile!!`;
       const elem = document.getElementById("msgElement")
       elem.textContent = message;
       console.log(message);
       elem.classList.add("mx-auto", "text-[#0A3504]");
       elem.open = true;
       
       const id = document.getElementById("id").textContent.trim()
       const url = `http://localhost:8000/${id}/order`;
       console.log(url);
       const data = {
         "count": document.getElementById("quantity").textContent, 
       }
       
       console.log(data);


       function getCookie(name) {
         const cookieValue = document.cookie.match(`(^|;)\\s*${name}\\s*=\\s*([^;]+)`);
         return cookieValue ? cookieValue[2] : null;
       }

       fetch(url, {
       method: "POST",
       headers: {
       "Content-Type": "application/json",
       "X-CSRFToken": getCookie("csrftoken"),
       },
       body: JSON.stringify(data),
       })
       .then(data => {
       // Handle response data
         console.log(data);
       })
      .catch(error => {
      // Handle error
        console.error(error);
      });

    });

</script>

{% endblock %}
